@model emregayrımenkul.Models.Advert ;

@{
    Layout = "_Layout2"; // ilanlar için 
}

@* enctype="multipart/form-data"accept="image/* *@


<div class="container d-flex justify-content-center align-items-center flex-column">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="AdvertTitle" class="form-label">İlan-Başlığı</label>
                <input type="text" asp-asp-for="AdvertTitle" class="form-control">
            </div>
        </div>
    </div>


</div>

